<header class="container pt-3 pb-3">
    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link text-light bg-info m-2" href="{{ path('index') }}">Accueil</a>
        <a class="nav-item nav-link text-light bg-info m-2" href="#">Pizzas</a>
        <a class="nav-item nav-link text-light bg-info m-2" href="#">Catégories</a>
        <a class="nav-item nav-link text-light bg-info m-2" href="#">Composer une pizza</a>
    </nav>
</header>